body
{
	margin: auto;
	max-width: 50em;
	background-color: darkturquoise;
}

a
{
	color: darkturquoise;
}

.foreground
{
	margin-top: 30px;
	background-color: White;
	border: 2px solid #00b0b3;
	border-radius: 15px;
	margin-bottom: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.pagecontent
{
	padding-left: 5px;
}

.pagecontent
{
	padding-left: 5px;
	min-height: 100px
}

.headerbutton
{
	float: left;
	color: white;
	border: 2px solid #00b0b3;
	border-radius: 10px;
	background-color: darkturquoise;
	text-align: center;
	margin: 0px;
	width: 25%;
	height: 38px;
	margin-top: -4px;
	font-size: 16px;
	cursor: pointer;
	transition-duration: 0.4s
}

.headerbutton:hover
{
	background-color: #00b0b3
}